---
import Navigation from "../components/Navigation.astro";
const allPosts = await Astro.glob("../pages/posts/*.mdx");
import BlogPost from "../components/BlogPost.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Blog</title>
  </head>
  <body>
    <Navigation />

    <h1
      class="text-4xl font-bold text-dark ml-8 md:ml-16 underline decoration-teal decoration-wavy decoration-4 mt-5"
    >
      All My Articles
    </h1>

    <ul
      class="md:grid grid-cols-3 mx-8 md:mx-16 gap-6 items-center mt-8 mb-10 block"
    >
      {
        allPosts.map((post) => (
          <BlogPost
            url={post.url}
            title={post.frontmatter.title}
            thumbnail={post.frontmatter.image.url}
            description={post.frontmatter.description}
          />
        ))
      }
    </ul>

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"
      ><path
        fill="#6ab8a7"
        fill-opacity="1"
        d="M0,288L48,266.7C96,245,192,203,288,192C384,181,480,203,576,229.3C672,256,768,288,864,298.7C960,309,1056,299,1152,272C1248,245,1344,203,1392,181.3L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
      ></path>
    </svg>

    <div class="bottom-0 w-full flex justify-center p-3 bg-teal">
      <Footer />
    </div>

    <script>
      import "../scripts/menu.js"
    </script>
  </body>
</html>
